# Virtual Environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc



# Streamlit
.streamlit/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database files (if not needed)
*.db